<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="displayName" placeholder="Название профиля">
  <select formControlName="profileType">
    <option value="" selected disabled>Тип профиля</option>
    <option value="collectioner">Коллекционер</option>
    <option value="museum">Музей</option>
  </select>
  <input type="email" formControlName="email" placeholder="Email">
  <input type="password" formControlName="password" placeholder="Пароль">
  <button type="submit" [disabled]="form.invalid">Войти</button>
</form>