<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" placeholder="Email">
  <input type="password" formControlName="password" placeholder="Пароль">
  <button type="submit" [disabled]="form.invalid">Войти</button>
</form>