<ng-container *ngIf="user$ | async; let user">
  <h1>Profile</h1>
  <p>Имя профиля: {{user.displayName}}</p>
  <p>Тип профиля: {{user.profileType}}</p>
  <p>Имя профиля: {{user.email}}</p>
  <p *ngIf="user.photoUrl">Имя профиля: {{user.photoUrl}}</p>
  <div *ngIf="authUid && authUid != uid">
    <button type="button" (click)="onSubscribe()">Подписаться</button>
    <button type="button" (click)="onUnsubscribe()">Отписаться</button>
  </div>
</ng-container>